.vitrine-container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(231, 231, 231, 0.02);
}

.vitrine-text {
    display: flex;
    gap: 20px;
    align-items: end;
    padding: 20px;
}

.vitrine-title {
    font-size: 30px;
    color: white;
}

.vitrine-subtitle {
    padding-bottom: 5px;
    color: #FFBF15;
    cursor: pointer;
    text-decoration: underline;
    transition: 0.5s;
}

.subtitle-filmes {
    color: #FFBF15;
}

.subtitle-series {
    color: #2F64CF;
}

.subtitle-jogos {
    color: #13F54C;
}

.vitrine-swiper {
    height: 200px;
    margin-left: 15px;
}

.vitrine-item {
    height: 200px;
    width: 400px;
}

.no-comment-vitrine {
    color: white;
    font-size: 30px;
    height: 200px;
    display: flex;
    align-items: center;
    padding-left: 25px;
}