.comentario-container {
    width: 100%;
    height: 100%;
    background-color: #313131;
    border-radius: 10px;
}

.comentario-grande .comentario-text {
    font-size: 22px;
}

.comentario-grande .comentario-views {
    font-size: 18px;
}

.comentario-perfil {
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.img-perfil {
    background-color: grey;
    height: 38px;
    width: 38px;
    border-radius: 100px;
}

.user-name {
    font-size: 20px;
    color: white;
}

.entertainment-info {
    font-size: 14px;
}

.Filmes {
    color: #FFBF15;
}

.comentario-text {
    padding-left: 15px;
    margin-right: 25px;
    font-size: 17px;
    color: white;
    font-weight: 200;
}

.comentario-views {
    margin-top: 10px;
    padding-left: 15px;
    color: rgba(255, 255, 255, 0.47);
    font-weight: 100;
}

.comentario-rating {
    padding-left: 15px;
    margin-top: 10px;
}