.first-row-home {
    width: 100%;
    display: flex;
    gap: 40px;
}

.navigator-home {
    width: 270px;
    margin-left: 20px;
}

.feed-home {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 20px;
}

.slider-home {
    width: calc(100% - 800px);
    margin-right: 25px;
}

.vitrine-home {
    height: 300px;
    width: 1525px;
}