#yellowBtn {
    background-color: #FFBF15;
    color: black;
}

#yellowBtn:hover {
    background-color: #fdce4b;
    color: rgba(0, 0, 0, 0.856);
}

#noColorBtn {
    background-color: transparent;
    color: white;
}

#noColorBtn:hover {
    color: rgba(255, 255, 255, 0.652);
}